rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if
          request.time < timestamp.date(2021, 9, 8);
    }
    
    match /posts/{postId} {
    	allow create, update: if request.auth.uid != null && !request.resource.data.title;
      allow read;
      allow delete: if request.auth.uid == resource.data.user.uid;
      
      match /comments/{commentId} {
        allow create, update: if request.auth.uid != null && !request.resource.data.title;
        allow read;
      }
    }
    
    match /users/{userId} {
    	allow read;
      allow write: if request.auth.uid == userId;
    }
  }
}